Repository raaang/BeautySalonCRM, pull requests merged in 2023-05, with the labels that each got.

#15 [MS] Feat: 샵 정보 메인화면 UI 개발 - #4
  beautysalon-frontend/.eslintrc.json
  beautysalon-frontend/craco.config.ts
  beautysalon-frontend/index.html
  beautysalon-frontend/package.json
  beautysalon-frontend/src/App.tsx
  beautysalon-frontend/src/components/assets/logo.png
  beautysalon-frontend/src/components/common/button/button.tsx
  beautysalon-frontend/src/components/common/button/menubarBtn.tsx
  beautysalon-frontend/src/components/common/menuItems.tsx
  beautysalon-frontend/src/components/common/pagination.tsx
  beautysalon-frontend/src/components/common/table.tsx
  beautysalon-frontend/src/components/common/textRow.tsx
  beautysalon-frontend/src/components/common/title.tsx
  beautysalon-frontend/src/components/layout/articleHeader.tsx
  beautysalon-frontend/src/components/layout/header.tsx
  beautysalon-frontend/src/components/shop/shopInfo/employeeInfoArticle.tsx
  beautysalon-frontend/src/components/shop/shopInfo/shopInfoArticle.tsx
  beautysalon-frontend/src/components/shop/shopInfo/shopMain.tsx
  beautysalon-frontend/src/components/shop/shopInfo/shopMainHeader.tsx
  beautysalon-frontend/src/components/shop/shopInfo/styleInfoArticle.tsx
  beautysalon-frontend/src/constants/color.ts
  beautysalon-frontend/src/custom.d.ts
  beautysalon-frontend/src/pages/shop/shopInfo.tsx
  beautysalon-frontend/tsconfig.json
  beautysalon-frontend/webpack.config.ts
Labels: Front

#25 [MS] Feat: 샵 정보 정보 수정 모달 UI - #17
  beautysalon-frontend/src/components/common/button/button.tsx
  beautysalon-frontend/src/components/common/input/input.tsx
  beautysalon-frontend/src/components/common/modal/modal.tsx
  beautysalon-frontend/src/components/common/modal/modalInput.tsx
  beautysalon-frontend/src/components/common/select/select.tsx
  beautysalon-frontend/src/components/layout/articleHeader.tsx
  beautysalon-frontend/src/components/shop/modifyShopInfo.tsx
  beautysalon-frontend/src/config/shopAccountConfig.ts
Labels: Front, UI

#26 [MS] Feat: 샵 정보 스타일 등록 UI 개발 - #18
  beautysalon-frontend/src/components/shop/registerShopStyle.tsx
Labels: Front, UI

#37 [Feat] 샵 정보 수정 UI 구현, 샵 스타일 정보 수정 UI 구현
  beautysalon-frontend/src/App.tsx
  beautysalon-frontend/src/components/common/input/input.tsx
  beautysalon-frontend/src/components/common/modal/modalInput.tsx
  beautysalon-frontend/src/components/common/select/TimeSelect.tsx
  beautysalon-frontend/src/components/common/select/select.tsx
  beautysalon-frontend/src/components/layout/articleHeader.tsx
  beautysalon-frontend/src/components/shop/modifyShopStyle.tsx
  beautysalon-frontend/src/components/shop/registerShopEmp.tsx
  beautysalon-frontend/src/components/shop/shopInfo/employeeInfoArticle.tsx
  beautysalon-frontend/src/pages/shop/account/Login.tsx
  beautysalon-frontend/src/pages/shop/account/Signup.tsx
Labels: Front, UI

#43 Ms 34
  beautysalon-frontend/src/components/member/moreInfo/memberInfoArticle.tsx
  beautysalon-frontend/src/config/moreInfoConfig.ts
Labels: Front, UI

#52 Mu 31
  beautysalon-frontend/src/App.tsx
  beautysalon-frontend/src/components/common/button/button.tsx
  beautysalon-frontend/src/components/common/history/history.tsx
  beautysalon-frontend/src/components/common/history/historyLayout.tsx
  beautysalon-frontend/src/components/layout/articleHeader.tsx
  beautysalon-frontend/src/components/member/moreInfo/familyInfoArticle.tsx
  beautysalon-frontend/src/components/member/moreInfo/memberInfoArticle.tsx
  beautysalon-frontend/src/components/member/moreInfo/moreInfoMain.tsx
  beautysalon-frontend/src/components/member/moreInfo/procedureHistoryArticle.tsx
  beautysalon-frontend/src/components/member/moreInfo/reservationAndPaymentArticle.tsx
  beautysalon-frontend/src/config/moreInfoConfig.ts
  beautysalon-frontend/src/pages/member/moreInfo.tsx
Labels: Front, UI

#65 [MC] Feat:고객 등록 API 개발 #51
  beautysalon-backend/src/main/java/com/salon/beauty/controller/customer/CustomerSaveController.java
  beautysalon-backend/src/main/java/com/salon/beauty/model/dto/request/customer/CustomerSaveRequestDTO.java
  beautysalon-backend/src/main/java/com/salon/beauty/model/mapper/customer/CustomerIdMapper.java
  beautysalon-backend/src/main/java/com/salon/beauty/model/mapper/customer/CustomerSaveMapper.java
  beautysalon-backend/src/main/java/com/salon/beauty/service/customer/CustomerSaveService.java
  beautysalon-backend/src/main/java/com/salon/beauty/service/customer/CustomerSaveServiceImpl.java
  beautysalon-backend/src/main/resources/mapper/customer/CustomerId.xml
  beautysalon-backend/src/main/resources/mapper/customer/CustomerSave.xml
Labels: Back
